<div class="row">
  <%= render partial: 'shared/personal_info' %>
    
  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Thanks for Register Yourself
      </h4>
    </div>

    <div class="container">
      <div class="row">
        <% if current_user.role.admin? %>
          <div class="card col" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Patients Register</h5>
              <h6 class="card-subtitle mb-2 text-muted">HealthCare</h6>
              <p class="card-text">Number of patients register.<br>
                <%= @patients.count %></p>
            </div>
          </div>
        <% end %>

        <% unless current_user.role.therapist? %>
          <div class="card col" style="width: 18rem;">
            <%= link_to patient_therapists_path(@current_patient.id) do %>
              <div class="card-body">
                <h5 class="card-title">Therapist Available</h5>
                <h6 class="card-subtitle mb-2 text-muted">HealthCare</h6>
                <p class="card-text">Number of doctor Available.<br>
                  <%= @therapists.count %></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @appointments.present? %>
          <div class="card col" style="width: 18rem;">
            <%= link_to therapist_appointments_path(@current_therapist.id) do %>
              <div class="card-body">
                <h5 class="card-title">Appointments</h5>
                <h6 class="card-subtitle mb-2 text-muted">HealthCare</h6>
                <p class="card-text">Hi Doctor...Your Current Appointments Are Here...<br>
                  <%= @appointments.count %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>