<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi<%= @patient.name %></p>
    <p><b>Your Appointment Cancled: </b></p>
    <p>Due to <%= @appointment.remove_appointment %>
    <p>Thanks</p>
    <p> Dr. <%= @therapist.name %>
    <p> Contact No: <%= @therapist.contact_no %>
    <p> Specialization: <%= @therapist.specialization %>
  </body>
</html>