<div class="row">
  <%= render partial: 'shared/personal_info' %>
  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Healthcare
      </h4>
    </div>

    <div class='row'>
      <div class="col-lg-6 text-left">
        <%= link_to root_path do %>
          <span>
            <%= image_tag 'back-arrow.png' %>
          </span>
        <% end %>
        <span class="h4">
          Booked Appointment 
        </span>
      </div>
      <div class="col">
        <div class="col-ml-12 text-right">
          <div class="btn-group">
          <%= link_to patient_patient_appointments_path(locale: 'book'), class: 'btn btn-primary pull-right btn-xl' do %>
              Book
          <% end %>
          <%= link_to patient_patient_appointments_path(locale: 'confirm'), class: 'btn btn-primary pull-right btn-xl' do %>
              Confirm
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class='card'></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact No</th>
          <th>specialization</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @patient_appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.therapist.name %></td>
            <td><%= appointment.therapist.contact_no %></td>
            <td><%= appointment.therapist.specialization %></td>
            <td><%= appointment.status %></td>
            <td><%= link_to "Delete", appointment_path(appointment), method: :delete,  data: { confirm: "Are you sure want to delete?" }%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>