<main class="main-content">
  <div class="row heading-border-line">
    <div class="col-lg-6 text-left">
      <%= link_to  do %>
        <span>
          <%= image_tag 'back-arrow.png' %>
        </span>
      <% end %>
      <span class="mrg-left-5 h4">
        <%= @patient.name %>
      </span>
    </div>
    <% if current_user.role.therapist? %>
      <% unless ('confirm' 'cancle').include? @appointment.status  %>
        <div class="col-sm-6 text-right">
          <%= link_to cancle_appointment_appointment_path( patient_id: @patient, therapist_id: @current_therapist, id: @appointment, status: :cancle), remote: true, class: 'btn edit-user btn-primary pull-right m-l-15 w-25' do %>
            Cancle Appointment
          <% end %>
          <%= link_to appointment_path( patient_id: @patient, therapist_id: @current_therapist, id: @appointment, status: :confirm), method: :put, class: 'btn edit-user btn-primary pull-right m-l-15 w-25' do %>
            Confirm Appointment
          <% end %>
        </div>
      <% end %>
    <% end %>
</main>
</div>

<div class="col-md-4"></div>
<div class="row card">
  <div class="col-md-8">
    <h4 class="m-l-15 text-left mrg-top-15 mrg-bottom-15">Personal Info</h4></br>
    <div class="row">
      <div class="col-md-4">
        <div class="font-weight-bold">Name</div>
        <div>
          <%= @patient.name %>
        </div>
      </div>
    
	    <div class="col-md-4">
	      <div class="font-weight-bold">Contact Info</div>
	      <div>
	        <%= @patient.phone %>
	      </div>
	    </div>
    </div>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-8 mrg-bottom-15">
    <div class="row">
      <div class="col-md-4">
        <div class="font-weight-bold">Address</div>
        <div>
          <%= @patient&.address %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="font-weight-bold">City</div>
        <div>
          <%= @patient&.city %>
        </div>
      </div>
    </div>
    <div class="row mrg-top-5">
      <div class="col-md-4">
        <div class="font-weight-bold">State</div>
        <div>
          <%= @patient&.state %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="font-weight-bold">Gender</div>
        <div>
          <%= @patient&.gender %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="font-weight-bold">Description</div>
        <div>
          <%= @patient&.description %>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col">
        <div class="font-weight-bold">Reports</div>
        <% if @patient.images.attached? %>
          <% @patient.images.each do |image| %>
            <%= image_tag image, style: 'width: 200px; display: block', class: 'img-thumbnail' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>