<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Appointment</h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for @appointment, url: appointment_cancle_path(@appointment.id),
                                  method: :patch do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :therapist_id, as: :hidden, input_html: {value: params[:therapist_id]}%>
              <%= f.input :patient_id, as: :hidden, input_html: {value: params[:patient_id]}%>
              <%= f.input :status, as: :hidden, input_html: {value: params[:status]}%>
              <%= f.input :remove_appointment, as: :text %>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-primary" data-dismiss="modal" onclick="javascript:window.location.reload()" type="button">
              Close 
            </button>
            <%= f.submit "Save", class: 'btn btn-success'  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>