<div class="row">
  <%= render partial: 'shared/personal_info' %>
  <div class="col">
    <main class="main-content">
      <div class="row heading-border-line">
        <div class="col-lg-6 text-left">
          <%= link_to therapist_appointments_path(@current_therapist.id) do %>
            <span>
              <%= image_tag 'back-arrow.png' %>
            </span>
          <% end %>
          <span class="h4">
            <%= @appointment.patient.name %>
          </span>
        </div>
        <% unless ('confirm' 'cancle').include? @appointment.status  %>
          <div class="col-sm-6 text-right">
            <%= link_to cancle_appointment_appointment_path( patient_id: @appointment.patient, therapist_id: @appointment.therapist, id: @appointment, status: :cancel), remote: true, class: 'btn btn-primary pull-right ml-10 w-35' do %>
              Cancle Appointment
            <% end %>
            <%= link_to appointment_path( patient_id: @appointment.patient, therapist_id: @appointment.therapist, id: @appointment, status: :confirm), method: :put, class: 'btn btn-primary pull-right m-l-10 w-35' do %>
              Confirm Appointment
            <% end %>
          </div>
        <% end %>
      </div>
    </main>

    <div class="card">
      <h5 class="card-header">
        Personal Information
      </h5>
      <div class="card-body">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-md-6">
              <div class="font-weight-bold">Name</div>
              <div>
                <i> <%= @appointment.patient.name %></i>
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="font-weight-bold">Contact Info</div>
              <div> 
                <i> <%= @appointment.patient.phone %></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="font-weight-bold">Address</div>
              <div>
                <i> <%= @appointment.patient.address %></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="font-weight-bold">city</div>
              <div>
                <i> <%= @appointment.patient.city  %></i>
              </div>
            </div>
          </div>
          <div class="row mrg-top-5">
            <div class="col-md-4">
              <div class="font-weight-bold">State</div>
              <div>
                <i> <%= @appointment.patient.state  %></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="font-weight-bold">E- mail</div>
              <div>
                <i> <%= @appointment.patient.email  %></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="font-weight-bold">Gender</div>
              <div>
                <i> <%= @appointment.patient.gender  %></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <div class="font-weight-bold">Description</div>
                <div>
                  <i> <%= @appointment.patient.description  %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>